---
layout: default
---
<div class="category">
  <h1>Category: {{ page.title }}</h1>
  <div class="posts">
    {% for post in site.categories[page.category] %}
      <article class="post">
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <div class="post-meta">
          <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time>
          {% if post.categories.size > 0 %}
            in 
            {% for category in post.categories %}
              <a href="/category/{{ category | slugify }}">{{ category }}</a>{% unless forloop.last %}, {% endunless %}
            {% endfor %}
          {% endif %}
        </div>
        {% if post.excerpt %}
          <div class="excerpt">
            {{ post.excerpt }}
          </div>
        {% endif %}
      </article>
    {% endfor %}
  </div>
</div> 